[submodule "Capacitor-NodeJS"]
	path = Capacitor-NodeJS
	url = https://github.com/hampoelz/Capacitor-NodeJS
	branch = main
[submodule "Capacitor-BrowserView"]
	path = Capacitor-BrowserView
	url = https://github.com/hampoelz/Capacitor-BrowserView
	branch = main
[submodule "WebApp-Wrapper"]
	path = WebApp-Wrapper
	url = https://github.com/hampoelz/WebApp-Wrapper
	branch = main
[submodule "Lastenheft"]
	path = Lastenheft
	url = https://github.com/hampoelz/HTL_Diplomarbeit_Lastenheft/
	branch = main
[submodule "Dokumentation"]
	path = Dokumentation
	url = https://github.com/hampoelz/HTL_Diplomarbeit_Dokumentation/
	branch = main
[submodule "Präsentation"]
	path = Präsentation
	url = https://github.com/hampoelz/HTL_Diplomarbeit_Praesentation/
	branch = main
